
<p>Your <a href="http://twitter.com/aplusk">@aplusk</a> number is a measure of how connected you are to Ashton Kutcher.</p>

<p>Your <a href="http://twitter.com/aplusk">@aplusk</a> number is 1 if Ashton follows you.</p>
<p>Your <a href="http://twitter.com/aplusk">@aplusk</a> number is 2 if someone Ashton follows, follows you.</p>
<p>Your <a href="http://twitter.com/aplusk">@aplusk</a> number is 3 if someone Ashton follows, follows someone who follows 
you.</p>
<p>And so on...</p>

<p>We have discovered all the users with an 
<a href="http://twitter.com/aplusk">@aplusk</a> number of
<%= @completeness %> or lower. We are currently discovering users with an 
<a href="http://twitter.com/aplusk">@aplusk</a> number of <%=@completeness.to_i+1%>.
</p> 


<p>To get your <a href="http://twitter.com/aplusk">@aplusk</a> number, enter your twitter id below.</p>

<p>
 <% form_tag '/get_number' do -%>
    <div><%= text_field_tag 'id' %></div>
    <div><%= submit_tag 'Get Number' %></div>
  <% end -%>
</p>
