
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<title> aplusknumber - How connected are you to Aston Kutcher?</title>

<%= stylesheet_link_tag 'aplusk.css' %>

</head>
<body>
<div id="container">
<div id="header">
What is your <a href="http://twitter.com/aplusk">@aplusk</a> number?
</div>
<div id="content">
<%= yield %>
</div>
<div id="footer">
<p>This project dreamed up by <a href="http://twitter.com/thirtysixthspan">@thirtysixthspan</a> as part of <a 
href="http://openbeta.extendedbeta.com/mashitupcamp.html">MashITupCamp</a> with the hopes that some day <a 
href="http://twitter.com/aplusk">@aplusk</a> would follow him.</p>
</div>
</div>
</body>
</html>
